
.color-purpl{
color:orangered;
cursor: pointer;
line-height: 25px;

}

#color-purpl{
    color:purple;
    font-size: 50px;

}
h1[title]{
    color: red;
    font-size: 50px; 
}
body{
    background-color: blue; gf
}


